body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.Chats {
  display: flex;
  flex-direction: row;
}
.ChatListEven {
  background-color: rgb(208, 208, 218);
  width: 30vw;
  min-width: 230px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.ChatListEven h3 {
  margin: 0;
}
.ChatListEven p {
  margin: 0;
}
.ChatListOdd {
  background-color: rgb(244, 252, 251);
  width: 30vw;
  min-width: 230px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.ChatInfo {
  width: 20vw;
  min-width: 230px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.ChatListOdd h3 {
  margin: 0;
}
.ChatListOdd p {
  margin: 0;
}
.Avatar {
  margin-left: 20px;
}
.DisplayMessages {
  width: 70vw;
  height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.Messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 20px;
  height: 70vh;
}
.MessageSender {
  align-self: flex-end;
  margin-right: 30px;
  margin-left: 50px;
  background-color: rgb(208, 208, 218);
  padding: 10px;
  border-radius: 6px;
  box-shadow: -10px 10px 20px 0px rgba(0, 0, 0, 0.75);
  margin-top: 15px;
}
.MessageReceiver {
  align-self: flex-start;
  margin-left: 30px;
  margin-right: 50px;
  background-color: rgb(244, 252, 251);
  padding: 10px;
  border-radius: 6px;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);
  margin-top: 15px;
}
.TypeMessageBox {
  margin-left: 30px;
  margin-bottom: 30px;
}
.MessageBoxEdit {
  width: 63vw;
}
.NewMessageBtn {
  align-self: flex-start;
  width: 30vw;
  min-width: 230px;
  height: 70px;
  background-color: rgb(119, 175, 240);
  border: none;
}
.NewMessageBtn:hover {
  background-color: rgb(77, 40, 243);
  color: white;
}
.NewMessageStyle {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.NewMessagePaper {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
}
.NewMessagePaper h3:hover {
  color: rgb(56, 56, 163);
}
.Dashboard {
  min-width: 685px;
  width: 100vw;
}
